<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=EC2AMAZ-5HIKMOU;Initial Catalog=QAID-ABA;User ID=QAID-ABA;Pwd=ACB^EC2AMAZ-5HIKMOU^QAIDABA?Id.132;" />
    <add name="ConnectionStringPDFExtract" connectionString="Data Source=EC2AMAZ-5HIKMOU;Initial Catalog=PDFExtract;User ID=QAID-ABA;Pwd=ACB^EC2AMAZ-5HIKMOU^QAIDABA?Id.132;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Interval : Debug or Minute(Integer) -->
    <add key="Interval" value="480" />
    <add key="StartTime" value="00:00" />
    <add key="EndTime" value="23:59" />
    <!-- ********************************* -->
    <!-- Airline -->
    <add key="Airline" value="IBERIA" />
    <!-- ********************************* -->

    <!-- UserAPI -->
    <add key="UserName" value="WAUPNGO" />
    <add key="UserSecret" value="UPNGO-WA-API-001" />
    <!-- ********************************* -->

  
    <add key="LogPath" value="C:\tmp" />
    <add key="DefaultIdUser" value="1" />
    <add key="ApiToken" value="http://localhost:6061/APIAirlineService/Token" />
    <add key="SelNgosApi" value="http://localhost:6061/APIAirlineService/SelectAllNgos" />
    <add key="IBAirshoppingApi" value="http://localhost:6061/APIAirlineService/IBAirShopping" />
    <add key="InsFlightOfferApi" value="http://localhost:6061/APIAirlineService/InsertFlightOffers" />
    <add key="SelNgosApiTimeOut" value="2000" />
    <add key="IBAirshoppingApiTimeOut" value="2000" />
    <add key="InsFlightOfferApiTimeOut" value="20000" />
    <add key="EmailAlerts" value="No" />
    <add key="SMTPHost" value="" />
    <add key="SMTPPort" value="" />
    <add key="SMTPSsl" value="" />
    <add key="SMTPUsr" value="" />
    <add key="SMTPPwd" value="" />
    <add key="SMTPCc" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>